@font-face {
  font-family: "SFMono";
  src: url("fonts/SFMono/SFMonoRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito/Nunito-Regular.tff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --scuStone: 78, 69, 64; /* #4e4540; */
  --scuStoneHex: #4e4540;
  --scuMarina: 3, 59, 76; /* #033b4c; */
  --scuMarinaHex: #033b4c;
  --scuLightBeige: 244, 242, 240; /* #f4f2f0; */
  --scuLightBeigeHex: #f4f2f0;
  --scuBeige: 223, 219, 211; /* #dfdbd3; */
  --scuBeigeHex: #dfdbd3;
  --scuCream: 233, 232, 213; /* #e9e8d5; */
  --scuSlate: 84, 101, 117; /* #546575; */
  --scuSlateHex: #546575;
  --scuGold: 234, 170, 0; /* #eaaa00; */
  --scuGoldHex: #eaaa00;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato";
}

body {
  background: var(--scuLightBeigeHex);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted var(--scuLightBeigeHex);*/ /* If you want dots under the hoverable text */
  color: var(--scuLightBeigeHex);
  border: 5px solid var(--scuStoneHex);
  background: var(--scuStoneHex);
  border-radius: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(var(--scuSlate), 0.95);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 135%;
  left: 50%;
  margin-left: -80px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(var(--scuSlate), 0.95) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

div.img {
	/*margin-top: 10px;*/
	display: inline-block;
}

#homemade {
	width: 150px;
	height: 25px;
	padding-top: 18px;
	margin-left: 40px;
}

#img_recipe {
	width: 30%;
	height: 30%;
	display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

div.head {
	color: #ffffff;
	font-family: "Lato";
	font-size: 14px;
	margin-top: 22px;
	margin-right: 40px;
	display: block;
	float: right;
}

div.search_container {
  padding-top: 15px;
  margin-right: 25px;
  /*display: inline-block;*/
  float: right;
}

.search_bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 30%;*/
}

#searchBox {
  display: inline-block;
  font-size: 15px;
  padding-left: 10px;
  /*margin-right: 10px;*/
  width: 200px;
  height:35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 3px solid white;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background: white;
  outline: none;
}

#searchBtn {
  /*background: #ddd;*/
  margin: 0;
  border: 3px solid white;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
  width: 100%;
  height: 35px;
  background: white;
}

#searchIcon {
  /*margin: 5px;*/
  border-radius: 50%;
  border: 7px solid transparent;
  background-clip: content-box;
  transition: transform 0.5s ease, border 0.5s ease;
}

#searchBtn:hover #searchIcon {
  background: rgba(204, 204, 204, 0.25);
  border: 7px solid rgba(204, 204, 204, 0.25);
  transform: scale(1.05);
}

#searchForm {
  display: inline-flex;
  align-items: center;
}

ul {
	list-style-type: none;
}

div > ul {
  padding-left: 0;
}

li {
	display: inline;
	padding: 10px;
}

li.recipe {
	display: block;
	font-family: "Lato";
	padding-left: 110px;
	padding-top: 10px;
}

header {
	background-color: black;
	height: 65px;
}

footer {
	background-color: black;
	color: #ffffff;
	height: 42px;
	font-family: "Lato";
	font-size: 14px;
	text-align: center;
	padding-top: 23px;
	position: fixed;
	width: 100%;
	bottom: 0;
}
/*
main {
	background-color: #ffffff;
}
*/
.main_container_left {
	padding-top: 40px;
	margin-left: 50px;
}

.main_container_right {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-right: 50px;
}

#main_page_img {
	width: 45%;
	height: auto;
	float: left;
	display: block;
	text-align: center;
}

h1 {
	text-align: center;
	padding-bottom: 30px;
}

.main_text {
	text-align: center;
	float: right;
	display: block;
}

p#title {
	font-family: "Lato"; /*"Times New Roman";*/
	font-size: 30px;
	text-align: center;
}

p#content {
	font-family: "Lato";
	font-size: 14px;
	text-align: center;
}

div.checkboxes {
	font-family: "Lato";
	font-size: 14px;
	text-align: left;
	padding-left: 35%;
	padding-bottom: 30px;
}

div.recipe_container {
	padding-top: 80px;
}

div.title_container {
	padding-top: 40px;
}

div.preparation {
	font-family: "Lato";
	font-size: 14px;
	text-align: left;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 100px;
}

#ing {
	/*padding-top: 20px;*/
  padding: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#step {
	padding-top: 20px;
	font-weight: bold;
	font-size: 16px;
}

#my_account {
	padding-top: 90px;
	padding-left: 100px;
	font-family: "Lato";
	font-size: 18px;
	font-weight: bold;
}

#contact {
	padding-left: 110px;
	font-family: "Lato";
}

#my_fav_recipes {
	padding-top: 50px;
	padding-left: 100px;
	font-family: "Lato";
	font-size: 18px;
	font-weight: bold;
}

hr {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 90%;
}

.head a:link,
.footer a:link {
  	color: #ffffff;
  	text-decoration: none;
}

.head a:visited,
.footer a:visited {
  	color: #ffffff;
  	text-decoration: none;
}

.head a:active,
.footer a:active {
  	color: #ffffff;
  	text-decoration: none;
}

.head a:hover,
.footer a:hover {
  	color: #ffffff;
  	text-decoration: none;
}

div.tags {
  text-align: center;
}

a#favoriteStar {
  display: inline-block;
  padding-left: 10px;
}

a:link#favoriteStar,
a:visited#favoriteStar{
  font-size: 32px;
  color: gold;
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  color: var(--scuMarinaHex);
  text-decoration: none;
}

#recipe_sub_form {
	font-family: "Times New Roman";
	text-align: center; 
	font-weight: bold; 
	font-size: 30px;
	padding-top: 70px;
}

div.recipe_sub_container {
	font-family: "Lato";
	font-size: 14px;
	display: block;
  /*flex;*/
  width: 70%; 
  height: auto; 
  margin: auto;
  /*background-color: #ffffff; */
  padding-top: 30px;
  padding-bottom: 100px;
}

#form-text {
	font-weight: bold;
}

#ingred_form {
	width: 200px;
}

#ingredients {
  margin: 10px;
}

.ingredients,
.instructions {
  text-align: center;
}

.ingredients.inner,
.instructions.inner {
  display: inline-block;
  text-align: left;
}

input[type = text] {
	width: 100%;
	/*margin: -5px 15px 10px;*/
  /*margin: -5px 0 10px;*/
}

.form-row > input,
.form-row > textarea { 
	flex: 3; 
}

.form-row > input,
.form-row > button,
.form-row > textarea {
    padding: .5em;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em; 
}

.form-wrapper {
    list-style-type: none;
    padding: 0;
}

.form-row > textarea{
    height: 200px;
    margin: -5px 15px 10px;
}

input[type=submit] {
	background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#output {
	margin-left: 15px;
}

#servingsize {
	margin: -5px 20px 10px;
}

.form-wrapper {
	font-family: "Lato";
}

input[type = radio] {
	width: 100%;
	margin: 3px 30px 10px 10px;
}

label#cat_form {
  	margin: 0px 50px 5px -70px;
}

/*
input[type = text] {
	width: 100%;
	margin: -5px 15px 10px;
}
*/

p#signin {
	font-family: "Lato";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
}

.rectangle {
	height: 300px;
	width: 450px;
	background-color: #dfdbd3; /*#ededed;*/
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.rectangle_signup {
	height: 500px;
	width: 450px;
	background-color: #dfdbd3; /*#ededed;*/
	margin-top: 20px;
	margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#id {
	margin-top: 5px;
	width: 350px;
	height: 30px;
	/*margin-left: 10%;*/
}

#signID {
	font-family: "Lato";
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
/*	margin-left: 10%; */
}

#signinfo {
	font-family: "Lato";
	font-size: 13px;
	text-align: center;
}

button:not(#searchBtn) {
	width: 80%;
  height: 40px;
  padding: 10px;
  margin: 20px;
  background-color: #BEBEBE;
  color: black;
  display: block;
  margin-left: auto;
	margin-right: auto;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 50px rgba(var(--scuLightBeige), 1);
  transition: all 0.25s ease;
}

button:hover:enabled:not(#searchBtn) {
  transform: scale(1.05, 1.05);
  box-shadow: inset 0 0 0 0px rgba(var(--scuLightBeige), 1);
  color: white;
  background: rgba(var(--scuMarina), 1);
}

   
input[type=text]:not(#searchBox){
    display: inline-block;
    font-size: 15px;
    margin-right: 0;
    /*width: 70%;*/
    height:35px;
}

/*
input[type=text]:focus {
    border: 3px solid #555;
}
*/
button#search {
    display: inline-block;
    background: #ddd;
    margin-left: 0;
    border: none;
    cursor: pointer;
    width: 20%
}

button#search:hover {
    background: #ccc;
}

p#app {
	font-family: "Lato";
	font-size: 15px;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

p#homelanding {
	/*padding-left: 100px;*/
	padding-top: 50px; /*100px;*/
	font-weight: bold;
	font-size: 30px;
  text-align: center;
}

p#randomrecipe {
	font-family: "Lato";
	font-size: 20px;
	/*padding-left: 100px;*/
	padding-top: 10px;
  text-align: center;
}

p#homerecipe {
	font-family: "Lato";
	font-size: 16px;
	/*padding-left: 100px;*/
	padding-top: 10px;
  text-align: center;
}

div.recipeContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1#recipeTitle {
  padding: 0;
}

p#faverror {
	font-family: "Lato";
	text-align: center;
	padding-top: 100px;
	font-size: 16px;
}

a#faverror1:link {
  	color: #000000;
  	text-decoration: none;
} 

a#faverror1:visited {
  	color: #000000;
  	text-decoration: none;
}

a#faverror1:active {
  	color: #000000;
  	text-decoration: none;
}

a#faverror1:hover {
  	color: #000000;
  	font-weight: bold;
  	text-decoration: none;
}

p#signup1 {
	font-family: "Lato";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

/*
button#signupsubmit {
	margin-top: 40px;
}
*/

p#serving {
	text-align: center;
	font-size: 14px;
	font-family: "Lato";
}

li.form-category {
	display: flex;
}

#category_container {
	margin-left: 10px;
}

select {
  flex: 3;
  padding: .5em;
  margin: -5px 30px 10px;
}

#addIngredient,
#addInstruction,
#addRecipe {
  flex: 1;
  padding: .5em;
  background-color: var(--scuSlateHex);
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
